
@model BudgetsAndExpensesVM



<h1>Budget: @Model.budgets.ElementAt(0).Name</h1>

@{
    double categoriesTotal = 0;


    @foreach (var item in Model.budgetCategories)
    {
        categoriesTotal += item.Amount;
    }

    categoriesTotal = Math.Round(categoriesTotal, 2);

    double surplus = Model.budgets.ElementAt(0).Amount - categoriesTotal;
}

<h5>Budget amount: $@Model.budgets.ElementAt(0).Amount</h5>
<h5>Sum of categories: $@categoriesTotal</h5>

@if (@surplus >= 0)
    {
        <h5>Surplus: $@Math.Round(surplus, 2)</h5>
    }
else
    {
        <h5>Deficit: $@Math.Round(surplus, 2)</h5>
    }


<p>
    <a class="btn btn-outline-info" asp-controller="BudgetCategories" asp-action="Create">Create New <i class="far fa-plus-square"></i></a>
</p>
<table class="table" id="budgetCatTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                Budget
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.budgetCategories)
        {
            if (item.Budget.User == User.Identity.Name || User.IsInRole(SD.Admin))
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-info btn-sm" asp-controller="BudgetCategories" asp-action="Report" asp-route-id="@item.ID"> @Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Budget.Name)
                    </td>
                    <td>
                        <a class="btn btn-outline-info btn-sm" asp-controller="BudgetCategories" asp-action="Edit" asp-route-id="@item.ID">Edit <i class="far fa-edit"></i></a>
                        <a class="btn btn-outline-info btn-sm" asp-controller="BudgetCategories" asp-action="Details" asp-route-id="@item.ID">Details <i class="far fa-file-alt"></i></a>
                        <a class="btn btn-outline-info btn-sm" asp-controller="BudgetCategories" asp-action="Delete" asp-route-id="@item.ID">Delete <i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#budgetCatTable').DataTable();
    });
</script>




