@model BudgetsAndExpensesVM

<h1>Expenses</h1>

<table class="table" id=" mainExpenseTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
            <th>
                Amount
            </th>
            <th>
                Recurring
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.expenses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recurring)
                </td>
            </tr>
        }
    </tbody>
</table>


<h1>Budget Categories</h1>

<table class="table" id="mainBCTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.budgetCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>


<h1>Budgets</h1>

<table class="table" id="mainBudgetTable">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Amount
            </th>
            <th>
                Description
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.budgets)
        {
            if (item.User == User.Identity.Name || User.IsInRole(SD.Admin))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>

